.search {
  font-size: 1em;
  position: relative;
}

.search input[type="search"] {
  background-color: hsla(var(--button-background), calc(var(--header-item-opacity) / 100));
  text-align: center;
}

input[type="search"]:hover {
  background-color: hsla(var(--form-input-background-hover), calc(var(--header-item-opacity) / 100));
}

input[type="search"]:focus,
input[type="search"]:active {
  background-color: hsla(var(--form-input-background-focus-active), calc(var(--header-item-opacity) / 100));
}

input[type="search"]:disabled {
  background-color: hsla(var(--form-input-background-disabled), calc(var(--header-item-opacity) / 100));
}

.search-clear {
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, -50%);
  transition: opacity var(--layout-transition-extra-fast);
}

.is-search .search-clear {
  opacity: 1;
  pointer-events: all;
}

.is-search .search-input {
  padding-right: 4em;
}
