:root {
  --layout-size: 1;
}

:root {
  --layout-space: 0.05em;
  --layout-line-width: 0.2em;
}

:root {
  --layout-duration-01: 0.1s;
  --layout-duration-02: 0.2s;
  --layout-duration-03: 0.3s;
  --layout-duration-04: 0.4s;
  --layout-duration-05: 0.5s;
  --layout-duration-06: 0.6s;
  --layout-duration-07: 0.7s;
  --layout-duration-08: 0.8s;
  --layout-duration-09: 0.9s;
  --layout-duration-10: 1s;
  --layout-timing-ease: ease-in-out;
  --layout-timing-bounce: cubic-bezier(0.8, 0.8, 0.4, 1.4);
  --layout-transition-extra-fast: var(--layout-duration-02) var(--layout-timing-ease);
  --layout-transition-fast: var(--layout-duration-04) var(--layout-timing-ease);
  --layout-transition-medium: var(--layout-duration-06) var(--layout-timing-ease);
  --layout-transition-slow: var(--layout-duration-08) var(--layout-timing-ease);
  --layout-transition-extra-slow: var(--layout-duration-10) var(--layout-timing-ease);
}

:root {
  --layout-horizontal-rule-small: 1px solid hsl(var(--theme-primary-020));
  --layout-horizontal-rule-large: 2px solid hsl(var(--theme-primary-020));
}

.layout {
  width: calc(var(--layout-width) * 1%);
  font-size: calc(var(--layout-size) * 0.01rem);
  padding: calc(var(--layout-space) * var(--layout-padding));
  z-index: var(--z-index-layout);
  display: flex;
  gap: calc(var(--layout-space) * var(--layout-padding));
}

.is-layout-order-header-bookmark.is-layout-direction-horizontal .layout {
  flex-direction: row;
  align-items: center;
}

.is-layout-order-bookmark-header.is-layout-direction-horizontal .layout {
  flex-direction: row-reverse;
  align-items: center;
}

.is-layout-direction-vertical.is-layout-order-header-bookmark .layout {
  flex-direction: column;
}

.is-layout-direction-vertical.is-layout-order-bookmark-header .layout {
  flex-direction: column-reverse;
}

.is-layout-direction-horizontal .layout-header,
.is-layout-direction-horizontal .layout-bookmark {
  flex-grow: 1;
}

.layout-header {
  display: flex;
  gap: calc(var(--layout-space) * var(--layout-padding));
  align-items: stretch;
  justify-content: stretch;
  width: calc(var(--layout-area-header-width) * 1%);
}

.layout-bookmark {
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-space) * var(--layout-padding));
  align-items: stretch;
  justify-content: stretch;
  width: calc(var(--layout-area-bookmark-width) * 1%);
}

.is-layout-direction-vertical .layout-header {
  align-self: var(--layout-area-header-align);
}

.is-layout-direction-vertical .layout-bookmark {
  align-self: var(--layout-area-bookmark-align);
}
