:root {
  --header-item-opacity: 100;
}

.header-area {
  flex-grow: 1;
  padding: calc(var(--layout-space) * var(--layout-padding));
  gap: calc(var(--layout-space) * var(--layout-padding));
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: calc(var(--layout-space) * var(--layout-gutter));
}

.is-layout-direction-horizontal .header-area {
  flex-grow: 0;
  justify-self: center;
}

.is-layout-direction-horizontal .header {
  flex-grow: 0;
}

.is-header-item-justify-left .header {
  justify-content: flex-start;
}

.is-header-item-justify-center .header {
  justify-content: center;
}

.is-header-item-justify-right .header {
  justify-content: flex-end;
}

.header-item {
  min-height: 2.5em;
}

.header-sort-placeholder {
  box-shadow: var(--edge);
  border-radius: var(--theme-radius-base);
}

.header-sort-placeholder.header-item>* {
  visibility: hidden;
}

.is-theme-background-type-accent .header-sort-placeholder {
  box-shadow: var(--edge-on-accent);
}

.header-item-greeting .header-item-body {
  font-size: calc(var(--header-greeting-size) * 0.01em);
}

.header-item-transitional .header-item-body {
  font-size: calc(var(--header-transitional-size) * 0.01em);
}

.header-item-clock .header-item-body {
  font-size: calc(var(--header-clock-size) * 0.01em);
}

.header-item-date .header-item-body {
  font-size: calc(var(--header-date-size) * 0.01em);
}

.header-item-search .header-item-body {
  font-size: calc(var(--header-search-size) * 0.01em);
}

.header-border-top,
.header-border-bottom {
  border-radius: var(--theme-radius-base);
  width: 100%;
}

.header-border-top {
  border-top: calc(var(--layout-line-width) * var(--header-border-top)) solid rgb(var(--theme-accent));
}

.header-border-bottom {
  border-bottom: calc(var(--layout-line-width) * var(--header-border-bottom)) solid rgb(var(--theme-accent));
}
