:root {
  --header-item-opacity: 100;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: calc(var(--layout-space) * var(--layout-gutter));
}

/* .is-layout-direction-horizontal .header {
  width: 100%;
}

.is-bookmark-show.is-layout-direction-horizontal .header {
  width: calc(calc(var(--header-area-width) / 2) - calc(calc(var(--bookmark-area-width) / 2) - 50%));
} */

.header-item {
  min-height: 2.5em;
}

.header-sort-placeholder {
  box-shadow: var(--edge);
  border-radius: var(--theme-radius-base);
}

.header-sort-placeholder.header-item>* {
  visibility: hidden;
}

.is-theme-background-type-accent .header-sort-placeholder {
  box-shadow: var(--edge-on-accent);
}
