.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: calc(var(--layout-space) * var(--layout-gutter));
  transition: gap var(--layout-transition-extra-fast) var(--layout-duration-04);
}

.is-header-edit .header-item {
  transition: gap var(--layout-transition-extra-fast);
}

.header-item-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.header-item-body>* {
  flex-grow: 1;
}

.header-item-control {
  margin-left: calc(calc(var(--layout-space) * var(--layout-gutter)) * -1);
  height: 0;
  flex-grow: 0;
  align-self: flex-end;
  transition: height var(--layout-transition-extra-fast) var(--layout-duration-04), margin var(--layout-transition-extra-fast);
}

.is-header-edit .header-item-control {
  margin: 0;
  height: 2.5em;
  transition: height var(--layout-transition-extra-fast), margin var(--layout-transition-extra-fast) var(--layout-duration-04);
}

.header-item-control-group {
  width: 0;
  overflow: hidden;
  transition: width var(--layout-transition-extra-fast);
}

.is-header-edit .header-item-control-group {
  width: 4em;
  transition: width var(--layout-transition-extra-fast) var(--layout-duration-04);
}

.header-item-search {
  flex-grow: 1;
}
